.card {
  border-radius: 10px;
  box-shadow: gray 0 0 2px 2px;
}
.card img {
  border-radius: 10px;
}
.content {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 80%;
  background-color: #ec5200;
  height: 40px;
  border-radius: 10px;
  color: white;
  border: none;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  margin-bottom: 2px;
}
.btn:hover {
  color: #ec5200;
  background-color: white;
}
a {
  color: #6a6869;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.card img {
  width: 100%;
}
